<div class="container" ng-controller="permissionController as vm">
    <div class="block-header">
        <h2>权限管理</h2>
        <ul class="actions">

            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                    <a data-toggle="modal" href="" data-ng-click="vm.add()" data-target="#modalPermissionEdit">新增权限</a>
                        </li> 
                    <li>
                        <a href="">导出excel</a>
                    </li>
                    <li>
                        <a href="">刷新</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header"></div>
        <div class="table-responsive">
            <table ng-table="vm.tableBasic" class="table table-striped table-vmiddle">
                <tr ng-repeat="permission in $data">
                    <td data-title="'操作'">
                        <div class="dropdown" data-animation="fadeIn,fadeOut,600">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                                <i class="fa fa-cog"></i> 操作 <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="vm.edit(permission.id)" data-toggle="modal" data-target="#modalPermissionEdit">修改</a></li>
                                <li><a href="">删除</a></li>
                            </ul>
                        </div>
                    </td>                  
                    <td data-title="'完全公开'">
                        <span ng-show="permission.isGrantedByDefault" class="label label-success">是</span>
                        <span ng-show="!permission.isGrantedByDefault" class="label label-default">否</span>
                    </td>
                    <td data-title="'权限名称'">{{permission.name}}</td>
                    <td data-title="'展示名称'">{{permission.displayName}}</td>
                    <td data-title="'父节点'">{{permission.parentName}}</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="modal fade" id="modalPermissionEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">编辑权限</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group fg-float">
                        <div class="fg-line" data-ng-class="{'fg-toggled':vm.permission.name}">
                            <input type="text" class="form-control" ng-model="vm.permission.name">
                        </div>
                        <label class="fg-label">权限名称</label>
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line" data-ng-class="{'fg-toggled':vm.permission.displayName}">
                            <input type="text" class="form-control" ng-model="vm.permission.displayName">
                        </div>
                        <label class="fg-label">展示名称</label>
                    </div>
                    <div class="form-group">                      
                        <p class="f-400 c-gray m-b-15">父权限节点</p>
                        <select chosen  class="w-100" ng-model="vm.permission.parentName" ng-options="p for p in vm.parentPermissions" >                         
                        </select>                                           
                    </div>
                    <div class="form-group fg-float">
                        <div class="fg-line" data-ng-class="{'fg-toggled':vm.permission.description}">
                            <textarea class="form-control" data-auto-size data-ng-model="vm.permission.description"></textarea>
                        </div>
                        <label class="fg-label">描述</label>
                    </div>
                    <div>
                        <label class="checkbox checkbox-inline m-t-15">
                            <input type="checkbox" ng-model="vm.permission.isGrantedByDefault">
                            <i class="input-helper"></i>
                            完全公开
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-ng-click="vm.save()"><i class="zmdi zmdi-save"></i>保存</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="zmdi zmdi-close-circle"></i>取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
