<div class="container" ng-controller="roleController as vm">
    <div class="block-header">
        <h2>角色管理</h2>
        <ul class="actions">

            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                    <a data-toggle="modal" href="" data-target="#modalRoleEdit">新增角色</a>               
                    <li>
                        <a href="">导出excel</a>
                    </li>
                    <li>
                        <a href="">刷新</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header"></div>
        <div class="table-responsive">
            <table ng-table="vm.tableBasic" class="table table-striped table-vmiddle">                       
                <tr ng-repeat="role in $data">
                    <td data-title="'操作'">
                        <div class="dropdown" data-animation="fadeIn,fadeOut,600">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                                <i class="fa fa-cog"></i> 操作 <i class="caret"></i></button>
                            <ul class="dropdown-menu">
                                <li data-toggle="modal" data-target="#modalRoleEdit" data-ng-click="vm.getRoleDetail(role.id)"><a href="">修改</a></li>                            
                                <li  data-ng-click="vm.delete(role.id)"><a href="">删除</a></li>
                            </ul>
                        </div>
                    </td>

                    <td data-title="'默认角色'">
                        <span ng-show="role.isStatic" class="label label-success">是</span>
                        <span ng-show="!role.isStatic" class="label label-default">否</span>
                    </td>
                    <td data-title="'系统角色'">
                        <span ng-show="role.isDefault" class="label label-success">是</span>
                        <span ng-show="!role.isDefault" class="label label-default">否</span>
                    </td>
                    <td data-title="'角色名'">{{role.name}}</td>
                    <td data-title="'创建时间'">{{role.creationTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </table>
          
        </div>
    </div>
   
    <div class="modal fade" id="modalRoleEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">编辑角色</h4>
                </div>

                <div class="modal-body">
                    <ul class="tab-nav tn-justified" role="tablist" style="width: 200px" data-tab-color="red">
                        <li role="presentation" class="active"><a href="" data-ng-click="vm.roleTab()" aria-controls="role" role="tab" data-toggle="tab">角色信息</a></li>
                        <li role="presentation"><a href="" data-ng-click="vm.permissionTab()" aria-controls="permission" role="tab" data-toggle="tab">权限信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" data-ng-class="{'in active':vm.activeTab==='role'}">
                            <div class="form-group fg-float">
                                <div class="fg-line" data-ng-class="{'fg-toggled':vm.role.name}">
                                    <input type="text" class="form-control" ng-model="vm.role.name">
                                </div>
                                <label class="fg-label">角色名称</label>
                            </div>
                            <div>
                                <label class="checkbox checkbox-inline m-t-15">
                                    <input type="checkbox" ng-model="vm.role.isDefault">
                                    <i class="input-helper"></i>
                                    默认
                                </label>
                                <span class="help-block">新用户将默认拥有此角色.</span>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" data-ng-class="{'in active':vm.activeTab==='permission'}">
                            <div id="permissionTree"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-ng-click="vm.save()"><i class="zmdi zmdi-save"></i>保存</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="zmdi zmdi-close-circle"></i>取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#permissionTree').jstree({
            'plugins': ["wholerow", "checkbox"],
            'core': {
                'data': [{
                    "text": "后台管理",
                    "children": [{
                        "text": "用户管理",
                        "state": {
                            "selected": true
                        }
                    }, {
                        "text": "新增"

                    }, {
                        "text": "角色管理",
                        "state": {
                            "opened": true
                        },
                        "children": ["Another node"]
                    }, {
                        "text": "custom icon class",
                        "icon": "glyphicon glyphicon-leaf"
                    }]
                },
                       "And wholerow selection"
                ],
                'themes': {
                    'name': 'proton',
                    'responsive': true
                }
            }
        });
    });
</script>