<div class="container" ng-controller="roleController as vm">
    <div class="block-header">
        <h2>角色管理</h2>
        <ul class="actions">

            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-toggle="modal" href="" data-target="#modalRoleEdit">新增角色</a>
                    <li>
                        <a href="">导出excel</a>
                    </li>
                    <li>
                        <a href="">刷新</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header"></div>
        <div class="table-responsive">
            <table class="table" style="height:350px">
                <thead>
                    <tr>
                        <th>操作</th>                                             
                        <th>默认角色</th>
                        <th>系统角色</th>
                        <th width="300">角色名</th>
                        <th width="400">创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in vm.roles">
                        <td>
                            <div class="dropdown" data-animation="fadeIn,fadeOut,600">
                                <button type="button" class="btn btn-primary" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> 操作 <i class="caret"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a href="">修改</a></li>
                                    <li><a href="">权限</a></li>
                                    <li><a href="">删除</a></li>
                                </ul>
                            </div>
                        </td>
                      
                        <td>                          
                            <span ng-show="role.isStatic" class="label label-success">是</span>
                            <span ng-show="!role.isStatic" class="label label-default">否</span>
                        </td>
                        <td>
                            <span ng-show="role.isDefault" class="label label-success">是</span>
                            <span ng-show="!role.isDefault" class="label label-default">否</span>
                        </td>
                        <td>{{role.name}}</td>
                        <td>{{role.creationTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <div id="undefined-footer" class="bootgrid-footer container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pagination">
                            <li><a href="" aria-label="Previous"><i class="md md-chevron-left"></i></a></li>
                            <li class="active"><a href="">1 </a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="" aria-label="Next"><i class="md md-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">1-10条数据 总共20条</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modalRoleEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增角色</h4>
            </div>

            <div class="modal-body" data-ng-controller="userEditController as vm">
                <ul class="tab-nav tn-justified" role="tablist" style="width: 200px">
                    <li role="presentation" class="active"><a href="" data-ng-click="vm.userTab()" aria-controls="user" role="tab" data-toggle="tab">角色信息</a></li>
                    <li role="presentation"><a href="" data-ng-click="vm.roleTab()" aria-controls="role" role="tab" data-toggle="tab">权限信息</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" data-ng-class="{'in active':vm.activeTab==='user'}">
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <input type="text" class="form-control" ng-model="vm.role.name">
                            </div>
                            <label class="fg-label">角色名称</label>
                        </div>
                        <div>
                            <label class="checkbox checkbox-inline m-t-15">
                                <input type="checkbox" ng-model="vm.role.isDefault">
                                <i class="input-helper"></i>
                                默认
                            </label>
                            <span class="help-block">新用户将默认拥有此角色.</span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" data-ng-class="{'in active':vm.activeTab==='role'}">
                        <div id="permissionTree"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect"><i class="md md-save"></i>保存</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="md md-cancel"></i>取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#permissionTree').jstree({
            'plugins': ["wholerow", "checkbox"],
            'core': {
                'data': [{
                    "text": "后台管理",
                    "children": [{
                        "text": "用户管理",
                        "state": {
                            "selected": true
                        }
                    }, {
                        "text": "新增"

                    }, {
                        "text": "角色管理",
                        "state": {
                            "opened": true
                        },
                        "children": ["Another node"]
                    }, {
                        "text": "custom icon class",
                        "icon": "glyphicon glyphicon-leaf"
                    }]
                },
                       "And wholerow selection"
                ],
                'themes': {
                    'name': 'proton',
                    'responsive': true
                }
            }
        });
    });
</script>