<div class="container">
    <div class="block-header">
        <h2>用户管理</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Command Example <small>Ensure that the data attribute [data-identifier="true"] is set on one column header.</small></h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-vmiddle" data-bootgrid-command>
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true">ID</th>
                        <th data-column-id="sender">Sender</th>
                        <th data-column-id="received" data-order="desc">Received</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10238</td>
                        <td>eduardo@pingpong.com</td>
                        <td>14.10.2013</td>
                    </tr>
                    <tr>
                        <td>10243</td>
                        <td>eduardo@pingpong.com</td>
                        <td>19.10.2013</td>
                    </tr>
                    <tr>
                        <td>10248</td>
                        <td>eduardo@pingpong.com</td>
                        <td>24.10.2013</td>
                    </tr>
                    <tr>
                        <td>10253</td>
                        <td>eduardo@pingpong.com</td>
                        <td>29.10.2013</td>
                    </tr>
                    <tr>
                        <td>10234</td>
                        <td>lila@google.com</td>
                        <td>10.10.2013</td>
                    </tr>
                    <tr>
                        <td>10239</td>
                        <td>lila@google.com</td>
                        <td>15.10.2013</td>
                    </tr>
                    <tr>
                        <td>10244</td>
                        <td>lila@google.com</td>
                        <td>20.10.2013</td>
                    </tr>
                    <tr>
                        <td>10249</td>
                        <td>lila@google.com</td>
                        <td>25.10.2013</td>
                    </tr>
                    <tr>
                        <td>10237</td>
                        <td>robert@bingo.com</td>
                        <td>13.10.2013</td>
                    </tr>
                    <tr>
                        <td>10242</td>
                        <td>robert@bingo.com</td>
                        <td>18.10.2013</td>
                    </tr>
                    <tr>
                        <td>10247</td>
                        <td>robert@bingo.com</td>
                        <td>23.10.2013</td>
                    </tr>
                    <tr>
                        <td>10252</td>
                        <td>robert@bingo.com</td>
                        <td>28.10.2013</td>
                    </tr>
                    <tr>
                        <td>10236</td>
                        <td>simon@yahoo.com</td>
                        <td>12.10.2013</td>
                    </tr>
                    <tr>
                        <td>10241</td>
                        <td>simon@yahoo.com</td>
                        <td>17.10.2013</td>
                    </tr>
                    <tr>
                        <td>10246</td>
                        <td>simon@yahoo.com</td>
                        <td>22.10.2013</td>
                    </tr>
                    <tr>
                        <td>10251</td>
                        <td>simon@yahoo.com</td>
                        <td>27.10.2013</td>
                    </tr>
                    <tr>
                        <td>10235</td>
                        <td>tim@microsoft.com</td>
                        <td>11.10.2013</td>
                    </tr>
                    <tr>
                        <td>10240</td>
                        <td>tim@microsoft.com</td>
                        <td>16.10.2013</td>
                    </tr>
                    <tr>
                        <td>10245</td>
                        <td>tim@microsoft.com</td>
                        <td>21.10.2013</td>
                    </tr>
                    <tr>
                        <td>10250</td>
                        <td>tim@microsoft.com</td>
                        <td>26.10.2013</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>