<div class="container" ng-controller="userController as vm">
    <div class="block-header">
        <h2>用户管理</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header"></div>
        <div class="table-responsive">
            <table class="table" style="height:350px">
                <thead>
                    <tr>
                        <th data-column-id="id">Id</th>
                        <th data-column-id="userName">用户名</th>
                        <th data-column-id="name">姓名</th>
                        <th data-column-id="emailAddress">邮箱</th>  
                        <th data-column-id="command">操作</th>                     
                    </tr>
                </thead>
                <tbody ng-repeat="user in vm.users">
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.emailAddress}}</td>
                        <td>
                            <div class="dropdown" data-animation="fadeIn,fadeOut,600">
                                <button type="button" class="btn btn-primary" data-toggle="dropdown">操作 <i class="caret"></i></button>

                                <ul class="dropdown-menu">
                                    <li><a href="">修改</a></li>
                                    <li><a href="">权限</a></li>
                                    <li><a href="">删除</a></li>                                                        </ul>
                            </div>
                        </td>
                    </tr>             
                </tbody>
            </table>
            <div id="undefined-footer" class="bootgrid-footer container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pagination">
                            <li><a href="" aria-label="Previous"><i class="md md-chevron-left"></i></a></li>                          
                            <li class="active"><a href="">1 </a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="" aria-label="Next"><i class="md md-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">1-10条数据 总共20条</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>