<ul class="tab-nav tn-justified" role="tablist">
    <li role="presentation" class="active"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">我的好友</a></li>
    <li role="presentation"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">在线用户</a></li>
</ul>
<div class="chat-search">
    <div class="fg-line">
        <input type="text" class="form-control" placeholder="Search People">
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="friends">
    
    </div>
    <div role="tabpanel" class="tab-pane fade" id="online">
     
    </div>
</div>
