<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.png" alt="">
            </div>
            <div class="profile-info">
                用户名
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-toggle="modal" href="" data-target="#modalUserInfo"><i class="zmdi zmdi-account"></i>我</a>           
            </li>
            <li>
                <a data-toggle="modal" href="" data-target="#modalUserPhoto"><i class="zmdi zmdi-input-antenna"></i> 修改头像</a>
            </li>
            <li>
                <a data-toggle="modal" href="" data-target="#modalChangePassword"><i class="zmdi zmdi-settings"></i> 修改密码</a>
            </li>
            <li>
                <a href="/Account/LogOut"><i class="zmdi zmdi-time-restore"></i> 注销</a>
            </li>
        </ul>
    </div>
    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> 首页</a>
        </li>      
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('userManager') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-assignment zmdi-hc-fw"></i> 后台管理</a>
            <ul>
                @if (IsGranted("Administration.UserManager"))
                {
                  
                }
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.user" data-ng-click="mactrl.sidebarStat($event)">用户管理</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.role" data-ng-click="mactrl.sidebarStat($event)">角色管理</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.auditLog" data-ng-click="mactrl.sidebarStat($event)">操作日志</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.permission" data-ng-click="mactrl.sidebarStat($event)">权限管理</a></li>
            </ul>
        </li>
     
    </ul>
</div>
