<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="profile-info">
                用户名
                <i class="md md-arrow-drop-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-toggle="modal" href="" data-target="#modalDefault"><i class="md md-person"></i>我</a>           
            </li>
            <li>
                <a href=""><i class="md md-settings-input-antenna"></i> 修改头像</a>
            </li>
            <li>
                <a href=""><i class="md md-settings"></i> 修改密码</a>
            </li>
            <li>
                <a href="/Account/LogOut"><i class="md md-history"></i> 注销</a>
            </li>
        </ul>
    </div>
    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="md md-home"></i> 首页</a>
        </li>      
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('userManager') }">
            <a href="" toggle-submenu><i class="md md-now-widgets"></i> 后台</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.user" data-ng-click="mactrl.sidebarStat($event)">用户</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.role" data-ng-click="mactrl.sidebarStat($event)">角色</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="userManager.operateLog" data-ng-click="mactrl.sidebarStat($event)">操作日志</a></li>
            </ul>
        </li>
     
    </ul>
</div>
