<div class="sidebar-inner">
    <div class="si-inner">
        <div class="profile-menu" toggle-submenu>
            <a href="" data-ng-click="sctrl.toggleSubmenu($event)">
                <div class="profile-pic">
                    <img src="img/profile-pics/1.jpg" alt="">
                </div>

                <div class="profile-info">
                    Malinda Hollaway

                    <i class="md md-arrow-drop-down"></i>
                </div>
            </a>

            <ul class="main-menu">
                <li>
                    <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-settings"></i> Settings</a>
                </li>
                <li>
                    <a href=""><i class="md md-history"></i> Logout</a>
                </li>
            </ul>
        </div>

        <ul class="main-menu">
            <li data-ui-sref-active="active"><a data-ui-sref="home"><i class="md md-home"></i> Home</a></li>
            <li data-ui-sref-active="active"><a data-ui-sref="typography"><i class="md md-format-underline"></i> Typography</a></li>
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-now-widgets"></i> Widgets</a>

                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="widgets.widget-templates">Templates</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="widgets.widgets">Widgets</a></li>
                </ul>
            </li>
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('tables') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-view-list"></i> Tables</a>

                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="tables.tables">Normal Tables</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="tables.data-tables">Data Tables</a></li>
                </ul>
            </li>
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-my-library-books"></i> Forms</a>

                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="form.basic-form-elements">Basic Form Elements</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="form.form-components">Form Components</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="form.form-examples">Form Examples</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="form.form-validations">Form Validation</a></li>
                </ul>
            </li>
            
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('user-interface') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-swap-calls"></i>User Interface</a>
                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.colors">Colors</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.animations">Animations</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.box-shadow">Box Shadow</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.buttons">Buttons</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.icons">Icons</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.alerts">Alerts</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.notifications-dialogs">Notifications & Dialogs</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.media">Media</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.components">Components</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="user-interface.other-components">Others</a></li>
                </ul>
            </li>
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-trending-up"></i>Charts</a>
                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="charts.flot-charts">Flot Charts</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="charts.other-charts">Other Charts</a></li>
                </ul>
            </li>
            
            <li data-ui-sref-active="active"><a data-ui-sref="calendar"><i class="md md-today"></i> Calendar</a></li>
            
            <li data-ui-sref-active="active"><a data-ui-sref="generic-classes"><i class="md md-layers"></i> Generic Classes</a></li>
            
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('pages') }">
                <a href="" data-ng-click="sctrl.toggleSubmenu($event)"><i class="md md-content-copy"></i> Sample Pages</a>
                <ul>
                    <li><a data-ui-sref-active="active" data-ui-sref="pages.profile.profile-about">Profile</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="pages.listview">List View</a></li>
                    <li><a data-ui-sref-active="active" data-ui-sref="pages.messages">Messages</a></li>
                    <li><a href="login.html">Login and Sign Up</a></li>
                    <li><a href="404.html">Error 404</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>